<div class="well well-large">
<h4>Welcome to the Muserik ALPHA site. Thank you for helping us build the next generation of music discovery</h4>
<h4>Below are some notes about the site and announcements of new features</h4>
<ul>
	<li><h5>Just as a notice to everyone who is helping create this site by interacting in the alpha build, we will have to reset the database when we launch officially, as we will have to remove all the current licensed music posts. Just a heads up, and keep enjoying, using, and providing feedback on the site.
	<li><h6>Uploads go through heroku to amazon's servers and take a few seconds after hitting post, the page will refresh and flash a success notice when completed.</h6></li> 
	<li>Please limit song uploads to .mp3 files for now, some file extensions currently won't work with the player</li>
	<li>Repost(retweet) is working, if you encounter problems please let me know</li>
	<li>Account password reset mailer is working if you enter a legit email when creating an account</li> 
	<li>'Contact us' and 'Advertise' functionality online. Please feel free to send a feedback email in the Contact us section of the site or advertising request...if you are an early adopter of awesome. Thanks!</li>
</ul>
<h4><span style="color:green">*New Features*</span></h4>
<ul>
	<li>You should now be able to Invite your friends to register for Muserik by clicking the link on your Home profile page. Please feel free to invite people to join, if you need more invitations let me know.</li>
	<li>On the 'People' page, search also searches through user summaries. For example a search for "dubstep" will return people who list dubstep in their summary. That's pretty neat!</li>
	<li>Repost/Unpost buttons work and change dynamically without reloading the page</li>
	<li>Please disregard the beta invitation sections on the home/profile pages, we are still finalizing the functionality of the invite system. But it will be ready soon.</li>
</ul>
<h4>Things to come</h4>
<ul>
	<li>New features and functionality as suggested by you</li>
	<li>LOTS MORE!</li>
</ul>
<h5>If you have anything that doesn't work or you would like to see added, please <%= link_to "connect with us", contact_path %> and we'll get to work</h5>
</div>