<div class="well well-large">
<h4>Welcome to the Muserik ALPHA site</h4>
<h4>Below is a (growing) list of functionality so far</h4>
<h5>If you have anything that doesn't work or you would like to see added, please email me at allareri@gmail.com(until contact us is working) and we'll get to work</h5>
<ul>
	<li><h6>Uploads go through heroku to amazon's servers and take a few seconds after hitting post, the page will refresh and flash a success notice when completed.</h6></li> 
	<li>Please limit song uploads to .mp3 files for now, some file extensions currently won't work with the player</li>
	<li>Repost(retweet) is working, if you encounter problems please let me know</li>
	<li>Account password reset mailer is working if you enter a legit email when creating an account</li> 
</ul>
<h4>Things to come</h4>
<ul>
	<li>Contact us mailer will hopefully be up in the coming days</li>
	<li>Refinements and additions of some JavaScript and CSS</li>
	<li>New features and functionality as suggested by you</li>
</ul>
</div>