<% provide(:title, 'About Us') %>
<% @user = current_user %>
	<div class="span10 well">
	    <h1>About Us</h1>

	    <h2 style="left-align">True social music discovery</h2>
	    <p>
	    	Muserik is music that discovers you. No more hunting down new tunes online or hoping a good song plays on your radio. With Muserik, connect with people's music interests and let the music find you.
	    </p>

	    <p>
			Searching for new music can take time, a lot of time. What would be easier is to have a place where you could connect with people who have similar music interests, listen to what they are listening to, and let new music discover you instead. That is what Muserik is, as site where you can connect with people based on their music interests and the music they share is brought together for you in a social feed of new music.	    
		</p>

	    <h3>Why we decided to build muserik</h3>
	    <p>
		    Muserik was started for two reasons, 1) as a place for people to easily connect around music interests and be introduced to new music constantly based on their tastes, and 2) as a place to empower musicians and artists further as the internet continues to open up new opportunities in music. We have some ideas for the future and are always open to adding new features users want to see.
		</p>
	</div>

