<% provide(:title, 'About Us') %>
	<div class="well well-small">
	    <h1>About Us</h1>

	    <h2>True social music discovery</h2>
	    <p>
	    	Muserik is music that discovers you. No more hunting down new tunes online or hoping a good song plays on your radio. With Muserik, connect with people's music interests and let the music find you.
	    </p>

	    <p>
	    	Searching for new music can take time, a lot of time. You know exactly the kind of music you like, but its hard to describe to other people when you ask for direction in finding new tunes. What would be easier is to have a place where you could connect with people who have similar music interests and listen to what they are listening to. And what would be even better, is if the music they introduce you to would be gathered into some sort of "New Music Feed", that would be an ever-updating playlist of new songs. Yeah, that would be cool, it would be even better if you were a musician or artist, and could upload your music and it would display at the top of users "feeds", and they could show you off to all their friends. And to top it all off, everything is wrapped in an incredibly simple website, without all the distractions.
	    </p>

	    <h3>Why Muserik is awesome for music makers</h3>
	    <p>
	    	As an artist or aspiring musician, Muserik offers you a platform to present your music to the world. When you upload a song, it is placed at the top of your followers feeds for them to see and hear. Sharing is simple to, anytime a follower presses "respost" on your song, it is then placed into all of their followers feeds for them to hear. Imagine how fast a tweet can gain attention and recognition on Twitter, and now imagine all those people hearing your song instead of seeing your tweet, actually engaging with your music. Upload your music for your followers to hear and let them promote you.
	    </p>

	    <h3>Why we decided to build muserik</h3>
	    <p>
		    Muserik was started for two reasons, 1) as a place for people to easily connect with music interest and be introduced to new music constantly based on there tastes, and 2) as a place to empower musicians and artists further as the internet continues to open up new opportunities in music. We have some great products and features we hope to launch in the coming months that not only help artists connect and grow their fan base, but also help them turn their passion into a much more, because we know you don't need a record deal to be a superstar.
		</p>
	</div>

