<% provide(:title, 'About Us') %>

    <h1>About Us</h1>

    <h2>True social music discovery</h2>
    <p>
    	Muserik is music that discovers you. No more hunting down new tunes online or hoping a good song plays on your radio stations. With Muserik, connect with people's music interest, and let the music find you.
    </p>

