<% provide(:title, 'Help') %>

    <h1>Frequently Asked Questions</h1>

    <ul>

    	<li>
    		<h4>How do I upload a song?</h4>
    		<p>You can upload a song by visiting your <%= link_to "Home", root_path %> page when you are signed in and using the "Upload a Song" form on the right side.</p>
    	</li>

    	<li>
    		<h4>What song formats work with the Muserik player?</h4>
    		<p>Currently only .mp3 song files work with our player. We are working hard to make more formats available and hope to have more functionality online soon.</p>
    	</li>

        <li>
            <h4>How do I start playing a song?</h4>
            <p>To start playing a song just click on the songs title. When that song finishes playing it will automatically start playing the next song in the feed.</p>
        </li>

        <li>
            <h4>How do I see a songs comments</h4>
            <p>To see the comments on a song all you have to do is click on the hashtag in the song post and it will take you to a solo page with the song and the recent comments people are making through Twitter.</p>
        </li>

        <li>
            <h4>What are 'Hashtags' for on Muserik?</h4>
            <p>Hashtags are there so users can comment on a song through Twitter. This is great because it creates a simple way for music to gain more exposure outside of Muserik, and also a simple way for users to provide comments and feedback, and take the conversation about the music beyond the website.</p>
        </li> 

    </ul>

