<% provide(:title, 'Help') %>

    <h1>Frequently Asked Questions</h1>

    <ul>

    	<li>
    		<h4>How do I upload a song?</h4>
    		<p>You can upload a song by visiting your <%= link_to "Home", root_path %> page when you are signed in and using the "Upload a Song" form on the right side.</p>
    	</li>

    	<li>
    		<h4>What song formats work with the Muserik player?</h4>
    		<p>Currently only .mp3 song files work with our player. We are working hard to make more formats available and hope to have more functionality online soon.</p>
    	</li>

    </ul>

