	<div class="container-fluid">
		<div class="row">
			<aside class="span5">
				<section id="user-home-stats" class="well well-small">
					<%= render 'shared/user_info' %>
				</section>
				<div>
					<section>
						<%= render 'shared/soundcloud_form' %>
					</section>
					<section>
						<%= render 'shared/micropost_form' %>
					</section>
				</div>
			</aside>
			<div class="span7 offset1">
				<h3 id="sound-stream">My Sound Stream</h3>
				<div class="well well-small"><%= render 'shared/feed_top' %></div>
			</div>
		</div>
	</div> 