- if signed_in?
	.container-fluid	
		.row
			%aside.span5
				%section.well.well-small#user-home-stats= render 'shared/user_info'
				%div
					%section= render 'shared/soundcloud_form'
					%section= render 'shared/micropost_form'
			.span7.offset1
				.well.well-small= render 'shared/feed'
- else
	.jumbotron.masthead
		.container-fluid
			.sub-header-section.span4
				%h1 MUSERIK
				%h2 New music discovering You.
				%span3.home-sign-in.pull-left
					=form_for(:session, url: sessions_path) do |f|
						=f.text_field :email, placeholder: "Email"
						=f.password_field :password, placeholder: "Password"
						%br/
						=f.submit "Sign in", class: "btn btn-primary", style: "width: 17em;"
						%br/
						=link_to "Forgot Password?", new_password_reset_path, class: "", style: "color: white"
						=link_to "Sign Up", signup_path, class: "", style: "color: white; padding-left: 10px;"
				
