<% @user = current_user %>
<div class="span10 well">
<h1>Privacy Policy</h1>
<p>Your information is your information, we only use it for the necessary reasons outlined in our <%= link_to "Terms of Use", terms_path %>. When/If anything changes with regards to the use of your information, Muserik with always be honest and forthright and tell you before any changes are implemented.</p>

<p>Thank you for making Muserik what it is, and continue to enjoy the site and grow with us</p>
</div>