<% @user = current_user %>
<h1>Your information is your information, we only use it for the necessary reasons outlined in our <%= link_to "Terms of Use", terms_path %>. When/If anything changes with regards to the use of your information, Muserik with always be honest and forthright and tell you before any changes are implemented.</h1>

<h2>Thank you for making Muserik what it is, and continue to enjoy the site and grow with us</h2>