-if @feed_items.any?
	%span Sort by:
	=link_to "New", root_path
	%ul.playlist= render partial: 'shared/feed_item', collection: @feed_items.by_top
	= will_paginate @feed_items
-else
	.empty-feed
		%h3 Music goes here, but you do not have any...yet
		%br/
		%h3 So...
		%h5 Search for music above, and Post your own songs on the left
		%h6 Or
		%h5 Connect with people and listen to what they are listening to
		#suggested-users-well
			.well
				%h6 Here are a few awesome people
				%ul= render 'users/suggested'
			%h6 You can find more people to follow by clicking '#{link_to "People", users_path}' above.