<%= form_for(current_user.retweetings.build(retweet_id: object.id), remote: true) do |f| %>
	<div><%= f.hidden_field :retweet_id %></div>
	<%= f.submit "Repost", class: "repost-form-submit" %>
<% end %>