<div id="soundcloud-form">
<button id="share-from-soundcloud">Share from Soundcloud</button>
<br>
<div id="soundcloud-upload-field" class="well well-small center">
<%= form_tag(soundcloud_path) do %><i id="what-is-soundcloud" class="icon-question-sign"></i>
<%= text_field_tag :sc_link, nil, placeholder: "Soundcloud URL", type: "url" %>
<br>
<%= submit_tag "Post", class: "btn" %>
<% end %>
</div>
</div>
