- @user ||= current_user
.btn
	%a{href:"#"}
		%strong.stat#following #{@user.followed_users.count} Following
.btn
	%a{href:"#"}
		%strong.stat.followers #{@user.followers.count} Fans
.btn
	%a{href:"#"}
		%strong #{@user.microposts.count} Songs