= form_for(current_user.favorites.find_by_micropost_id(object), html: { method: :delete }, :remote => true) do |f|
  = f.hidden_field :micropost_id
  = f.submit "unfav", class: "btn btn-mini btn-warning"