<% if signed_in? %>
<div id="user_bar">
	<% if current_user.invitation_limit > 0 %>
		<p>
			<%= link_to 'Invite a friend ', new_invitation_path, style: "color: #19D119;" %>
			<span>(<%= current_user.invitation_limit %>)</span>
		</p>
	<% end %>
<% else %>
	<p>If you have an account, <%= link_to "Sign in", signin_path %></p>
</div>
<% end %>