<% @user = current_user %>
<h1>Send invite</h1>
<h3>Invite a friend to join you in the Muserik Beta</h3>
<br>
<div>
<%= form_for @invitation do |f| %>
    <%= f.label :recipient_email %>
    <%= f.text_field :recipient_email, placeholder: "Email" %>

  <p><%= f.submit "Invite!", class: "btn btn-primary" %></p>
<% end %>
</div>