<footer class="footer">
	<p>
		MUZERIK - Social Music Discovery, 
		Listen to your feed.
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", new_message_path %></li>
      		<li><a href="http://news.railstutorial.org/">News</a></li>
    	</ul>
  	</nav>
</footer>