<footer class="footer">
	<p>
		MUSERIK - Music Discovering You
	<nav>
		<ul>
			<li><%= link_to "About", about_path, class: "btn btn-mini" %></li>
			<li><%= link_to "Contact", new_message_path, class: "btn btn-mini" %></li>
			<li><%= link_to "Advertise", advertisement_path, class: "btn btn-mini" %></li>
      		<li><%= link_to "Help", help_path, class: "btn btn-mini" %></li>
    	</ul>
  	</nav>
</footer>